* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GTWalsheimRegular;
  src: url('../../../assets/fonts/GT-Walsheim-Regular.ttf');
}

body {
  font-family: 'GTWalsheimRegular';
}